@import './controls/volume.css';

.fas {
    font-size: 25px !important;
    width: 25px;
    margin: 10px;
    cursor: pointer;
    color: white;
}

.video-controls .controls {
    justify-content: space-between;
    background: rgba(0,0,0,.7);
    transition: height .5s;
    align-items: center;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    height: 0;
}

.video-controls {
    justify-content: flex-end;
    transition: .3s ease-out;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
}

.show-controls { height: 45px !important}