.progressbar {
  background: #ffffff;
  transition: 300ms;
  cursor: pointer;
  opacity: .5;
  height: 5px;
  z-index: 1;
}

.progressbar:hover {
  height: 10px;
}

.progress-indicator {
  background: purple;
}

.time-progress {
  color: white;
  font-family: sans-serif;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

